In [ ]:
# eklenen.join(ekleyen)

In [2]:
import pandas as pd
import numpy as np

dset1={
    "sütun1":[1,2,3,4],
    "sütun2":[1,2,3,4]
}
dset2={
    "sütun3":[1,2,3],
    "sütun4":[1,2,3]
}
dfjoin1= pd.DataFrame(dset1)
dfjoin2=pd.DataFrame(dset2)

In [3]:
dfjoin1

   sütun1  sütun2
0       1       1
1       2       2
2       3       3
3       4       4

In [4]:
dfjoin2

   sütun3  sütun4
0       1       1
1       2       2
2       3       3

In [5]:
dfjoin1.join(dfjoin2)

   sütun1  sütun2  sütun3  sütun4
0       1       1     1.0     1.0
1       2       2     2.0     2.0
2       3       3     3.0     3.0
3       4       4     NaN     NaN

In [6]:
dfjoin2.join(dfjoin1)

   sütun3  sütun4  sütun1  sütun2
0       1       1       1       1
1       2       2       2       2
2       3       3       3       3