In [4]:
import pandas as pd
import numpy as np

df_dersler=pd.DataFrame({"ogrenciler":["burak","ceren","ali","elif","beril"],"dersler":["türkçe","matematik","türkçe","fizik","kimya"]})
df_notlar=pd.DataFrame({"ogrenciler":["burak","ceren","ali","elif","beril"],"notlar":[100,75,95,85,70]})
df_son=pd.merge(df_dersler,df_notlar,on="ogrenciler")
df_son

  ogrenciler    dersler  notlar
0      burak     türkçe     100
1      ceren  matematik      75
2        ali     türkçe      95
3       elif      fizik      85
4      beril      kimya      70