In [ ]:
loc ve ıloc işlemleri
    1- loc indeks ismiyle elemanlara erişmemizi sağlar.
    2- ıloc indeks numarası ile elemanlara eerişmemizi sağlar.

In [2]:
import pandas as pd
import numpy as np

df6 = pd.DataFrame([1,2,3,4,5],columns=["sayı"])
df6

   sayı
0     1
1     2
2     3
3     4
4     5

In [3]:
df6.index=("a","b","c","d","e")
df6

   sayı
a     1
b     2
c     3
d     4
e     5

In [4]:
df6.loc["a":"c"]

   sayı
a     1
b     2
c     3

In [6]:
df6.iloc[0:3]

   sayı
a     1
b     2
c     3

In [7]:
df6["kare"]=df6["sayı"]**2
df6["küp"]=df6["sayı"]**3
df6

   sayı  kare  küp
a     1     1    1
b     2     4    8
c     3     9   27
d     4    16   64
e     5    25  125

In [9]:
df6.loc["a":"c","kare":]

   kare  küp
a     1    1
b     4    8
c     9   27

In [12]:
df6.iloc[0:3,1:]

   kare  küp
a     1    1
b     4    8
c     9   27